<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/shards.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <style type="text/css">
        .top-buffer { margin-top:10px; }
        </style>
    </head>
    <body>
    <div class="container my-5">
		<h3 class="mb-5"> LogIn Page </h3>
	        <p th:if="${param.error}">
	            Bad Credentials  
	        </p>
	        <div class="row">
	        <div class="col-md-6">
	        <form th:action="@{/app-login}" method="POST">
                	<div class="col-md-8">
		            	<label class="col-form-label">User Name : </label>
		            	<input type="text" class="form-control input-sm" name="app_username"/> <br/><br/>
	            	</div>
	            	<div class="col-md-8">
	            		<label class="col-form-label">Password: </label>
	            		<input type="password" class="form-control" name="app_password"/> <br/><br/>
	            	</div>
                        <div class="col-md-8">
	            		<input type="submit" value="LogIn" class="btn btn-success"/>
	            		</div>
	        </form>
	        </div>
	    </div>   
	</div>	     
    </body>
</html>